# --- Java & Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Log files ---
*.log

# --- Spring Boot ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
